* {
    margin: 0;
    padding: 0;
}
body {
    width: 1506px;
    height: 2032px;
    border: 1px solid yellow;
}
.header {

}
.menu_header_one {
    width: 1400px;
    height: 72px;
    padding: 16px 52px 16px 52px;
    background-color: #10BBD5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_div_one {
    display: flex;
    flex-direction: row;
    width: 136px;
    height: 29px;

}
.header_logo_book {
    width: 26px;
    height: 28px;
    padding: 3.5px 4.33px 2.33px 0px;
    margin-top: 15px;
}
.header_logo_name {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    margin-top: 21px;
    color: white;
}
.menu_header_two {
    display: flex;
    flex-direction: row;
    width: 99px;
    height: 40px;
    margin-top: 10px;
}

.header_text_coin {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #F8FDFE;
    width: 51px;
    height: 24px;
    margin-top: 10px;

}
.header_cart_icon {
    width: 40px;
    height: 40px;
    left: 59px;
}
.menu_header_last {
    width: 1400px;
    height: 32px;
    top: 72px;
    padding: 4px 52px 4px 52px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_last_name_title {
    width: 118px;
    height: 24px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.header_last_navigation {
    width: 295px;
    height: 24px;
}
.header_last_list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header_last_lists {
    margin-right: 23px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.main {
    width: 1506px;
    height: 1840px;
    background-color: #EEEEEF;
;
}
.main_link {
    list-style: none;
    text-decoration: none;
}
.main_title {
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    padding-top: 32px;
    padding-left: 52px;
}
.main_line {
    width: 1296px;
    height: 1px;
    top: 199px;
    left: 52px;
    border: 1px solid #A8A8A8;
    margin-left: 52px;
    margin-top: 23px;
;
}
.main_box_one {
    width: 1296px;
    height: 512px;
    margin-left: 52px;
    justify-content: space-between;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.stocks {
    width: 47px;
    height: 32px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px 1px 1px 1px;
    background-color: #4200FF;
}
.stocks_text {
    color: #FFFFFF;
    text-align: center;
}


.card_box_one {
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    background-color: white;
}
.image_card_one {
    width: 242px;
    height: 280px;
    margin-left: 32px;
    margin-top: 32px;
}
.card_title {
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    list-style: none;
    text-decoration: none;
    color: #1F1F1F;
    margin-top: 16px;
    margin-left: 32px;
}
.offer_line {
    width: 242px;
    height: 1px;
    border-width: 1px;
    background-color: #A8A8A8;
    margin-left: 32px;

}
.card_text {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #8E8E8E;
    margin-left: 32px;
}
.main_price {
    width: 140px;
    height: 32px;
    margin-left: 32px;
    margin-top: 8px;
    color: red;
    font-weight: bold;

}
.main_old_price {
    color: #8E8E8E;
    margin-left: 30px;
    margin-top: -30px;

}

.main_button {
    width: 242px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px 0px 0px 0px;
    background-color: #4C394E;
    color: white;
    margin-left: 32px;
}

.main_box_two {
    width: 1296px;
    height: 512px;
    margin-left: 52px;
    justify-content: space-between;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.card_text_two {
    font-family: Cabin;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #8E8E8E;
    margin-left: 32px;
}
.card_title_two {
    font-family: Cabin;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    list-style: none;
    text-decoration: none;
    color: #1F1F1F;
    margin-top: 16px;
    margin-left: 32px;
}
.card_box_two {
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    background-color: white;
    margin-top: 32px;
}
.main_box_three {
    width: 1296px;
    height: 512px;
    margin-left: 52px;
    justify-content: space-between;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.card_box_three {
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    background-color: white;
    margin-top: 32px;
}
.card_title_three {
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    list-style: none;
    text-decoration: none;
    color: #1F1F1F;
    margin-top: 16px;
    margin-left: 32px;
}
.chat_img {
    width: 64px;
    height: 64px;
    margin-top: -35px;
    position: sticky;
}


.footer_section {
    width: 1506x;
    height: 88px;
    top: 1944px;
    background-color: #4C394E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer_right_text {
    color: #F8FDFE;
    margin-right: 53px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 32px;
}

.footer_year {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 53px;
    margin-top: 32px;
    color: #F8FDFE;
}



